<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<h1 class=" mx-auto  w-8/12 bg-white font-bold min-h-screen">
  <div class="container p-2  text-white text-1xl mx-auto bg-emerald-600 rounded overflow-x-hidden shadow-lg	">
    Add Designation
  </div>
  <form [formGroup]="regFrom" (ngSubmit)="registation()">
  <div class="mt-4 mx-2">

      <div class="">
        <mat-label class="pb-4" > Employ Type <span style="color:red;">*</span> </mat-label>
        <mat-form-field appearance="outline" class="w-full" >
          <mat-select formControlName="employee" name="Select title">
            <mat-option value="Temporary"> Temporary</mat-option>
            <mat-option value="Parmanent">Parmanent </mat-option>
            <mat-option value="Part-time">Part-time </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>

    <div class="mt-4 mx-2">
      <div class="">

          <mat-label > Degisnation <span style="color:red;">*</span> </mat-label>
          <mat-form-field appearance="outline" class="w-full" >
            <mat-select formControlName="degisnation" name="Select title">
              <mat-option value="Professor"> Professor</mat-option>
              <mat-option value="Lecturer"> Lecturer</mat-option>
              <mat-option value="Assistant Lecturer"> Assistant Lecturer</mat-option>
            </mat-select>
          </mat-form-field>

      </div>
    </div>



      <div class="grid grid-cols-2 mx-2 mt-4 gap-5 ">
        <div>
          <label  class="text-1xl  ">Start date<span style="color:red;">*</span></label>
          <input formControlName="start_date"  class=" w-full border border-gray-400 mt-2 " type="date" placeholder="Not set">
        </div>

        <div>
          <label  class="text-1xl  ">End date</label>
          <input formControlName="end_date"  class=" w-full  border border-gray-400 mt-2 " type="date" placeholder="None">
        </div>
        </div>

    <div class="grid grid-cols-2 mx-2 mt-4 gap-5 ">
      <div>
        <label  class="text-1xl ">Primary Designation<span style="color:red;">*</span></label>
       <div class="flex  border border-gray-400 ">
         <mat-radio-group formControlName="primary_degisnation" appearance="outline" class="w-full" >
           <mat-radio-button> Yes </mat-radio-button>
           <mat-radio-button> No </mat-radio-button>
         </mat-radio-group>

       </div>
       </div>
      <div class="">

          <mat-label > Speacial position </mat-label>
          <mat-form-field appearance="outline" class="w-full" >
            <mat-select formControlName="special_position" name="Select title">
              <mat-option value="Coordinatorr"> Coordinator</mat-option>
              <mat-option value="Assistant Coordinato "> Assistant Coordinator</mat-option>
              <mat-option value="Register"> Register</mat-option>
            </mat-select>
          </mat-form-field>

      </div>

    </div>
    <div class="grid grid-cols-2 mx-2 mt-4 gap-5 ">
      <div>
        <label  class="text-1xl m  w-full ">Room Number<span style="color:red;">*</span></label>
        <div class="flex w-full">

          <mat-form-field  appearance="outline" class="w-full" >
            <input formControlName="room_number" matInput >
          </mat-form-field>


        </div>
      </div>
      <div class="">

          <mat-label > Seating  Zone </mat-label>
          <mat-form-field appearance="outline" class="w-full" >
              <mat-select formControlName="seating_zone" name="Select title">
                <mat-option value="2001"> 2001</mat-option>
                <mat-option value="2002"> 2002</mat-option>
                <mat-option value="2003"> 2003</mat-option>
              </mat-select>
            </mat-form-field>

      </div>

    </div>

    <div class="flex justify-end mt-4">
      <button color="primary"  mat-raised-button>Submit</button>
    </div>

  </form>
</h1>

</body>
</html>
